Fraud Detection Pipeline - Phase 3B (1).json
{
  "name": "Fraud Detection Pipeline - Phase 3B",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        16
      ],
      "id": "3f180e88-2dbe-4fc7-bd4e-ed76577dd6d6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7e373c5a-032b-4a32-9802-74fad57aa4ae",
              "leftValue": "={{ $json.suspects_pending }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "240acd84-4e03-43ed-a575-58944f30ec83",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Get decisions from previous node\nconst decisions = $json.decisions || [];\n\n// Handle empty case\nif (decisions.length === 0) {\n  return { \n    message: 'No recent decisions',\n    timestamp: new Date().toISOString()\n  };\n}\n\n// Count verdicts\nconst fraudCount = decisions.filter(d => d.verdict === 'FRAUD').length;\nconst legitimateCount = decisions.filter(d => d.verdict === 'LEGITIMATE').length;\nconst reviewCount = decisions.filter(d => d.verdict === 'REVIEW').length;\n\n// Build summary\nreturn {\n  total_decisions: decisions.length,\n  fraud_count: fraudCount,\n  legitimate_count: legitimateCount,\n  review_count: reviewCount,\n  fraud_percentage: ((fraudCount / decisions.length) * 100).toFixed(2) + '%',\n  latest_decision: {\n    transaction_id: decisions[0].transaction_id,\n    verdict: decisions[0].verdict,\n    confidence: decisions[0].confidence,\n    recommended_action: decisions[0].recommended_action,\n    reasoning: decisions[0].reasoning.substring(0, 100) + '...'\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        96
      ],
      "id": "5ce9ae21-6eca-4025-b1e7-b37677723848",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/recent-decisions?limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": " Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        -96
      ],
      "id": "33d2ba75-24ef-4bfb-8e67-4c022486f9fd",
      "name": "Recent Decisions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/run-cycle",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"batch_size\": 50,\n  \"llm_batch_size\": 1    \n}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        32
      ],
      "id": "40850c52-9ae3-4c7a-9bfd-6c3c8d747fe1",
      "name": "Run Cycle"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "b9c6e651-fe4a-49ed-abc3-82504e039c7b",
      "name": "Get Stats"
    },
    {
      "parameters": {
        "jsCode": "return {\n  message: 'No pending suspects to process',\n  suspects_pending: 0,\n  timestamp: new Date().toISOString(),\n  next_check: 'Will retry in 30 seconds'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        96
      ],
      "id": "03df3eb8-d340-454a-ae22-7edf050ae1af",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c8a39a45-04a9-43c2-b144-610b2f069e9f",
              "leftValue": "={{$json.decisions}}",
              "rightValue": "={\"verdict\":\"FRAUD\"}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -96
      ],
      "id": "61010603-ff5c-4f74-ae2e-5c2cd474424f",
      "name": "Any FRAUD?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/execute-fraud-response?batch_size=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": " Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        -112
      ],
      "id": "99d7403c-2dab-4582-acfb-48166a928ff6",
      "name": "Execute-fraud-response"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/recent-decisions?limit=10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        80
      ],
      "id": "7336c00f-d02d-41e3-9b17-49f5dae92061",
      "name": "Mark in DB"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-04-12T13:34:03.005-04:00",
          "Readable date": "April 12th 2026, 1:34:03 pm",
          "Readable time": "1:34:03 pm",
          "Day of week": "Sunday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "12",
          "Hour": "13",
          "Minute": "34",
          "Second": "03",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run Cycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Recent Decisions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recent Decisions": {
      "main": [
        [
          {
            "node": "Any FRAUD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Cycle": {
      "main": [
        [
          {
            "node": "Get Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stats": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any FRAUD?": {
      "main": [
        [
          {
            "node": "Execute-fraud-response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 120
  },
  "versionId": "9d8d9bb9-b5e8-4e9e-877a-d87f181f2e75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee4648442485ab0f01dfcee1d787cd17b5fbc7bf686345907fb7518635012474"
  },
  "id": "apcXSplX8p4DNU2z",
  "tags": []
}